[submodule "aptu/604_15/tsa/1"]
	path = aptu/604_15/tsa/1
	url = git@github.com:SerCeMan/simple_netty_chat.git
[submodule "aptu/604_15/laa/1"]
	path = aptu/604_15/laa/1
	url = https://github.com/cexcell/AsyncChat.git
[submodule "leti/0303/kap/1"]
	path = leti/0303/kap/1
	url = git://github.com/korkota/chat.git
