[submodule "aptu/604_15/tsa/1"]
	path = aptu/604_15/tsa/1
	url = https://github.com/SerCeMan/simple_netty_chat.git
[submodule "aptu/604_15/kad"]
	path = aptu/604_15/kad
	url = https://github.com/adkozlov/parallel_programming-2015.git
[submodule "aptu/604_15/laa/1"]
	path = aptu/604_15/laa/1
	url = https://github.com/cexcell/AsyncChat.git
[submodule "leti/0303/kap/1"]
	path = leti/0303/kap/1
	url = git://github.com/korkota/chat.git
[submodule "aptu/604_15/ypa/nio_chat"]
	path = aptu/604_15/ypa/nio_chat
	url = https://github.com/igrocki/nio_chat.git
[submodule "leti/0303/mav/1"]
	path = leti/0303/mav/1
	url = https://github.com/AlexeyMz/DevoidTalk.git
[submodule "aptu/604_15/tdv/1/AsioChat"]
	path = aptu/604_15/tdv/1/AsioChat
	url = git://github.com/flire/AsioChat.git
